.speech-bubble {
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem 0.75rem;
    max-width: 50%;
}

#speech-input-container {
    position: absolute;
    bottom: 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

#speech-input-container input {
    width: 80%;

    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: none;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

#speech-input-container input:active, #speech-input-container input:focus {
    border: none;
    outline: 3px solid rgba(255, 246, 193, 0.5);
}

#speech-input-container button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    background-color: #5ff8dc;
    color: #232121;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: none;
}

#speech-input-container button:hover {
    background-color: #5ff8dc;
    transform: translateY(-2px);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

#speech-input-container button:active, #speech-input-container button:focus {
    outline: 3px solid rgba(255, 246, 193, 0.4);
    transform: translateY(-2px);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
