.vertical-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}
.tutorial-button{
    font-weight: bold;
    color: white;
    font-size: 17px;
    /* background-color: rgb(56, 165, 92); */
    background-color: #ea8679;
    margin: auto;
    padding: 12px 28px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    height: 75px;
    width: 200px;
}
